
body{
    background: #f0f0f0;
}

.blobs {
    /*size: 100px;*/
    padding: 0;
    width: 103px;
    height: 103px;
    border: 7px solid white;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
}
p{
    font-family: Abel, sans-serif;
    background: none;
}
h1, h2{
    font-weight: bolder;
    font-family: Anton, sans-serif;
}
h1{
    margin-top: 1em;

}
h2{
    margin: 1em 0;
}
.red {
    background: #E6563B;
}
.orange {
    background: #EB9D3A;
}
.green {
    background: #7CB06C;
}
.aqua {
    background: #00ABA9;
}
.border-color {
    border: #E6E6E6;
}
.anton{
    font-family: Anton, sans-serif;
    color:white;
}
@media (max-width: 576px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 20px;
    }
}
@media (min-width: 576px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    #red-yellow{
        padding-right:16px;
    }
    #green-aqua{
        padding-left: 16px;
    }
    .blobs {
        padding: 0;
        width: 103px;
        height: 103px;
        border: 7px solid white;
        border-radius: 50%;
        text-align: center;
        margin: 0 4px;
    }
}
@media (min-width: 768px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 40px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}