
body{
    background: #f0f0f0;
}

.blobs {
    /*size: 100px;*/
    padding: 0;
    width: 103px;
    height: 103px;
    border: 7px solid white;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    margin-bottom: 7px;
}
p{
    font-family: Abel, sans-serif;
    background: none;
}
h1, h2{
    font-weight: bolder;
    font-family: Anton, sans-serif;
}
h1{
    margin-top: 1em;

}
h2{
    margin: 1em 0;
}
.red {
    background: #E6563B;
}
.orange {
    background: #EB9D3A;
}
.green {
    background: #7CB06C;
}
.aqua {
    background: #00ABA9;
}
.border-color {
    border: #E6E6E6;
}
.anton{
    font-family: Anton, sans-serif;
    color:white;
}
img{
    width:248px;
    border: 16px solid #E6E6E6;
    border-radius: 8px;
}
/*XtraSmall Media*/
@media (max-width: 576px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 20px;
    }
    #icongroup{
        margin: 0 50px;
    }
}
/*Small Media*/
@media (min-width: 576px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    #red-yellow{
        padding-right:16px;
    }
    #green-aqua{
        padding-left: 16px;
    }
    .blobs {
        padding: 0;
        width: 103px;
        height: 103px;
        border: 7px solid white;
        border-radius: 50%;
        text-align: center;
        margin: 0 3px;
    }
    hr {
        width:60%;
        border: none;
        height: 2px;
        padding:0;
        background-color: #c3c3c3;
    }

}
/*Medium Media*/
@media (min-width: 768px) {
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 40px;
    }

    .blobs {
        padding: 0;
        width: 103px;
        height: 103px;
        border: 7px solid white;
        border-radius: 50%;
        text-align: center;
        margin: 0 12px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}